
/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: #4f5c4f; 
    text-align: center;
  }
   
/* 导航条链接 */
.topnav a { 
  width: 12%;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}
   
  
.dropdown {  
  width: 12%;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn { 
  cursor: pointer;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-size: inherit;
}


/* 链接颜色修改 */
.topnav a:hover, .dropdown .dropbtn:hover { 
  font-weight:bolder;
}


.dropdown-content {
  display: none; 
  position: absolute; 
  background-color: #dde5db;
  width: 12%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
}

.dropdown-content a:hover {
  background-color: #bbb;
  color: white;
  font: bolder ;
}
